* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

div {
    .main-content {
        width: 228px;
        margin: 20px auto;
        padding: 5px;
        border: 1px solid black;
    }
    .screen {
        display: inline-block;
        width: 150px;
        height: 20px;
        background-color: blue;
    }
    .btn {
        display: inline-block;
        width: 50px;
        text-align: center;
        background-color: grey;
        margin: 2px;
        padding: 10px;
    }
}